.container{
    display: flex;
    justify-content: center;
}

.leftEar, .rightEar{
    display: flex;
    background-color: pink;
    height: 100px;
    width: 150px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;
    border-color: rgb(223, 157, 168);
    border-bottom-color: pink;
    
    
}

.leftEar{
    margin-left: 699px;
    margin-bottom: -110px;
    margin-top: 60px;
}

.rightEar{
    margin-left: 1049px;
    margin-bottom: 100px;
}

.topBodyBorder{
    width: 100px;
    height: 8px;
    background-color: black;
    margin-left: 800px;
    z-index: 1;
}


.calcBody{
   display: flex;
   background-color: pink;
   border-style: solid;
   border-color: rgb(223, 157, 168);
   align-items: center;
   flex-direction: column;
   height: 600px;
   width: 500px;
   padding-top: 80px;
   padding-bottom: 40px;
   margin-top: -110px;
   border-radius: 50px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top-color: pink;
   z-index: 0;
}

.calcScreen, .calcScreen2{
    display: flex;
    background-color: rgb(110, 60, 81);
    height: 80px;
    width: 400px;
    margin-bottom: 50px;
    font-size: 40px;
    justify-content: end;
    color: white;
    border-style: solid;
    border-color: rgb(216, 125, 140);
}

.calcScreen2{
    margin-bottom: -5px;
}
.calcButtons{
    display: inline-block;
    height: 500px;
    width: 400px;
    margin-bottom: 50px;
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: center;
}

.numberButton, .operatorButton, #clear, #delete{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    font-size: 20px;
    color: rgb(206, 97, 115);
    
}

.numberButton:hover, .operatorButton:hover, #clear:hover, #delete:hover{
    background-color: rgb(238, 137, 154);
    color: white;
}

#plus:hover, #minus:hover, #times:hover, #divide:hover, #equal:hover{
    background-color: rgb(185, 62, 82);
    
}

#divide, #times, #minus, #plus, #equal{
    background-color: rgb(206, 97, 115);
    color: white;
}

.bodyTail{
    height: 130px;
    width: 130px;
    background-color: rgb(245, 219, 219);
    border-color: rgb(223, 157, 168);
    border-style: solid;
    border-radius: 100px;
    margin-left: 885px;
    margin-bottom: 100px;
}